<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{top10buslines.css}">
    <meta charset="UTF-8">
    <title>Top 10 buslines by number of bus stops</title>
</head>
<body>

<table class="main-table">
    <tr>
        <th>
            Busline
        </th>
        <th>
            Number of stops
        </th>
        <th>
            Stops names
        </th>

    </tr>
    <!--/*@thymesVar id="top10" type="java.util.List<com.thomas.buslines.BuslineStopsDTO>"*/-->
    <tr th:each="buslineStopsDTO : ${top10}">
        <!--/*@thymesVar id="buslineStopsDTO" type="com.thomas.buslines.BuslineStopsDTO"*/-->
        <td th:text="${buslineStopsDTO.busline}" > </td>
        <td th:text="${buslineStopsDTO.size}" > </td>
        <td>
            <button type="button" class="open-modal" th:data-modal-to-open="'modal' + ${buslineStopsDTO.busline}"} onclick="showModalWithId(this)">
                Show stops names
            </button>
        </td>
    </tr>
</table>

<!-- Generate all of the modals -->

<!--/*@thymesVar id="top10" type="java.util.List<com.thomas.buslines.BuslineStopsDTO>"*/-->
<!--/*@thymesVar id="buslineStopsDTO" type="com.thomas.buslines.BuslineStopsDTO"*/-->
<div th:each="buslineStopsDTO : ${top10}" class="modal" th:id="'modal' + ${buslineStopsDTO.busline}"}>
    <div class="modal-dialog">
        <header class="modal-header">
            <button class="close-modal" aria-label="Close" th:data-modal-to-close="'modal' + ${buslineStopsDTO.busline}" onclick="closeModal(this)">✕</button>
        </header>
        <section class="modal-content">
            <table>
                <!--/*@thymesVar id="buslineStopsDTO" type="com.thomas.buslines.BuslineStopsDTO"*/-->
                <tr th:each="stop : ${buslineStopsDTO.stops}">
                    <!--/*@thymesVar id="stop" type="java.lang.String"*/-->
                    <td th:text="${stop}"></td>
                </tr>
            </table>
        </section>
        <footer class="modal-footer">
        </footer>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    function showModalWithId(openButton) {
        console.log(openButton.getAttribute("data-modal-to-open"));
        const modalToOpen = openButton.getAttribute("data-modal-to-open");
        const modal = document.getElementById(modalToOpen);
        modal.classList.add("is-visible");
    }

    function closeModal(closeButton) {
        console.log(closeButton.getAttribute("data-modal-to-close"));
        const modalToClose = closeButton.getAttribute("data-modal-to-close");
        const modal = document.getElementById(modalToClose);
        modal.classList.remove("is-visible");
    }
    // Close modal if user clicks outside of modal
    const modals = document.getElementsByClassName("modal");
    window.onclick = function(event) {
        for (modal of modals) {
            if (event.target == modal) {
                modal.classList.remove("is-visible");
            }
        }
    }
</script>